.HostInfo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: end;
}

.HostPicture {
    border-radius: 90%;
    object-fit: cover;
    width: 64px;
    height: 64px;
}

.HostName {
    font-weight: 500;
    font-size: 18px;
    color: #ff6060;
    width: 90px;
    word-break: normal;
    margin: 0px;
    text-align: end;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .InformationsHoteLogement {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .HostName {
        font-size: 12px;
        width: 60px;
    }

    .HostPicture {
        width: 32px;
        height: 32px;
    }
}