#root {
  margin: 0 auto;
  font-family: 'Montserrat';
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
}

main, header {
  max-width: 1440px;
}

header {
  align-self: center;
}

main {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;
}

.rooty {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (min-width: 1440px) {
  header {
    min-width: 1440px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  body, footer {
    width: 100%;
  }

  header, main {
    width: 90%;
  }
}

@media (max-width: 768px) {
  body, header, main{
        width: auto;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
}