.collapseTitle {
    background-color: #ff6060;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;    
}

.collapseContainer {
    width: 100%;
}

.collapseTitle img {
    height: 13px;
    transform: rotate(180deg);
    cursor: pointer;
}

.arrow {
    transition: transform 300ms ease;
}

.arrow.Up {
    transform: rotate(0deg);
}

.collapseTitle p {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}



.collapseText {
    background-color: #f6f6f6;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms, padding 300ms, opacity 300ms;
    transform-origin: 50% top;
    padding: 0px 20px 0px 20px;
    opacity: 0;
    line-height: 1.3;
    gap: 2px;
}

.collapseText.Out {
    max-height: 500px;
    padding: 20px;
    opacity: 1;
}

@media (max-width: 768px) {
    .collapseTitle {
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px;
        padding-right: 15px;
    }

    .collapseTitle p {
        font-size: 13px;
    }

    .collapseTitle img {
        width: 16px;
        height: 9px;
    }

    .collapseText {
        font-size: 12px;
    }
}