.card {
    height: 340px;
    width: 340px;
    display: flex;
    align-items: end;
}

.card img {
	border-radius: 10px;
	width: 340px;
    height: 340px;
}

.p_logement {
    font-size: 18px;
    font-weight: 700;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: left;
}

@media (max-width: 768px) {
    .card {
        width: 335px;
        height: 255px;
    }

    .card img {
        width: 335px;
        height: 255px;
    }
}