.entete {
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.logoKasa {
    cursor: pointer;
}

.logo-link {
    display: inline-block;
}