.entete {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

.logoKasa {
    cursor: pointer;
}

.logo-link {
    display: inline-block;
}

li a {
    color: black;
    font-size: 24px;
    font-weight: 500;
}

li a:hover {
    color: black;
}

.liActif {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
}

@media (max-width: 768px) {
    .LogoKasa {
        width: 145px;
    }

    ul {
        gap: 20px;
    }

    li a {
        font-size: 12px;
        text-transform: uppercase;
    }

    .entete {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .liActif {
        text-decoration-thickness: 1px;
    }
}