.entete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

.logoKasa {
    cursor: pointer;
}

.logo-link {
    display: inline-block;
}

li a {
    color: black;
    font-size: 24px;
}

li a:hover {
    color: black;
}

.liActif {
    text-decoration: underline;
}